.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 절대 경로 */
/* .main-bg {
  height: 600px;
  background: url('https://raw.githubusercontent.com/olj23666-sys/react/refs/heads/main/img/pc_main_01.jpg') no-repeat center center;
  background-size: cover;
} */

/* 상대 경로 */
/* .main-bg {
  height: 600px;
  background: url('./img/pc_main_01.jpg') no-repeat center center;
  background-size: cover;
} */

/* public/Img 폴더 경로 */
.main-bg {
  height: 600px;
  background: url('../public/img/pc_main_01.jpg') no-repeat center center;
  background-size: cover;
}